/* Ensure the body and html take up the full height of the page */

.wrapper {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Ensure the wrapper takes at least the full viewport height */
}

/* Content Area */
.main-content {
  flex-grow: 1; /* Content will take up remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling when content is too long */
}

/* Footer styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Padding does not affect the total width */
  height: 10vh;
  display: flex

}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  justify-content: center;
    padding: 0 20px;
    gap: 1rem;
}

.footer-section {
  margin: 10px 0;
  flex: 1;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-link {
  color: #ccc;
  display: block;
  margin: 5px 0;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-icon {
  color: #ccc;
  font-size: 20px;
  text-decoration: none;
}

.social-icon:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}
